.container {
/*    margin: auto; */
    font-family: "Century Gothic";
    /*background-color: rgb(69, 101, 175);*/
    text-align: center;
    color: rgb(0, 0, 0);
}
  
.heading {
    font-size: 2rem;
/*    margin: 3rem 0; */
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 470;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: rgb(0, 0, 0);
    text-decoration: none;
    line-height: 4rem;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}
  
.site-title {
    font-size: 3rem;
    font-weight: 700;
/*    margin: 3rem 0;?*/
}

.paragraph {
    font-size: 1.5rem;
    font-weight: 400;
/*    margin: 3rem 0; */
}